*{

	padding: 0px;
	margin:0px;
}

body {
	overflow: hidden;
	height: 100vh;
    background: url("Itmeback.jpg");
    background-color: #3D4548;
    background-position:0px 0px; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white;
}

.logotext{
	display:inline-flex;
	align-items:center;
	height: 100px;
}
.burger{
	display: inline;
}
.checkbtn img{
	display:none;
	width:90px;
	box-sizing: border-box;
	float:right;
	padding: 20px;
	margin-right: 5px;
    align-items: center;
    cursor: pointer;
}
#check{
 display:none;
}

.header ul {
	float: right;
}

.header
{	width:100vw;
	box-sizing: border-box;
	height:90px;
	background-color: #000;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
label img{
padding-left: 20px;
padding-right: 20px;
width:120px;
height:auto;
}

#name {
line-height: 80px;
padding :5px 20px 5px 20px;
font-family: sans-serif;
font-size: 20px;
display: inline-flex;
}

ul a li {
	padding :5px 20px 5px 20px;
	list-style-type: none; 
	line-height: 80px;
	font-family: sans-serif;
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	color:#808080;
}
#underline {
		border-bottom: 2px solid white;
}
ul a li:hover{
	background-color:#808080;
	color:white;
}
.box1{
	display:flex;
	box-sizing: border-box;
	align-items: center;
}
.box2{

	display:flex;
	box-sizing: border-box;
	margin-left: 50vw;
	height:100vh;
	width:50vw;
	align-items: center;
	justify-content: center;
}
.description{
	display:block;
	width: 250px;
	overflow: visible;
	align-items: center;
	line-height:60px;
	padding: 40px 0px 40px 20px;
	font-size: 30px;
	font-family:sans-serif; 
}
@media only screen and (max-width: 872px){
	ul{
		position: fixed;
		display: block;
    padding :5px 20px 5px 20px;
    margin-left:calc( 100vw - 176px);
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    margin-right: 5px; 
    background-color: black;
    left: 100%;
    transition:ease 0.5s;
	}
	body {
    background-position: -200px 0px;
   }

   .checkbtn img{
    display:flex;
    transition: ease 0.5s;
    }
    ul :hover{
	background-color:#808080;
	color:white;
    }
 #check:checked~ label img{
    transform: rotate(90deg);
  
    }
    #check:checked ~ ul{
    	left:0;
    }
}
@media only screen and (max-width: 512px){
	body {
    background-position: -400px 0px;
   }
}

@media only screen and (max-device-width: 872px) and (orientation: portrait) ,
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-device-width: 872px) and (orientation: portrait) ,
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-device-width: 872px) and (orientation: portrait) ,
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-device-width: 872px) and (orientation: portrait) ,
only screen and (        min-device-pixel-ratio: 2)      and (max-device-width: 872px) and (orientation: portrait) ,
only screen and (                min-resolution: 192dpi) and (max-device-width: 872px) and (orientation: portrait) ,
only screen and (                min-resolution: 2dppx)  and (max-device-width: 872px)  and (orientation: portrait) 
{
	.header
	{
		height:140px;
		line-height:60px;
	}
	label{
		height: 100px;
	}
	label img{
		padding-left: 20px;
		padding-right: 20px;
		width:160px;
		height:100px;
	}
.logotext{
	height: 120px;
}
	   #name {
		line-height: 80px;
		font-size: 50px;
	}
	ul{
		position: fixed;
		display: block;
        text-align: center;
        text-decoration: none;
        list-style-type: none;
        background-color: black;
        left: 100%;
        transition:ease 0.5s;
        opacity: 50%;
	}
	ul a li {
	display:block;
	padding-left:calc(50vw - 45px);
	padding-right:calc(50vw - 45px);
	border-bottom: 1px solid #3D4548;
    }
    ul a{
    	text-decoration: none;
    }
	body {
    background-position: -200px 0px;
   }
   .checkbtn img{
   	width:110px;
    display:flex;
    transition: ease 0.5s;
    }
    ul :hover{
	background-color:#808080;
	color:white;
    }
 #check:checked~ label img{
    transform: rotate(90deg);
  
    }
    #check:checked ~ ul{
    	left:0;
    }
}
@media only screen and (max-device-width: 768px) and (orientation: portrait) ,
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-device-width: 768px) and (orientation: portrait) ,
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-device-width: 768px) and (orientation: portrait) ,
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-device-width: 768px) and (orientation: portrait) ,
only screen and (        min-device-pixel-ratio: 2)      and (max-device-width: 768px) and (orientation: portrait) ,
only screen and (                min-resolution: 192dpi) and (max-device-width: 768px) and (orientation: portrait) ,
only screen and (                min-resolution: 2dppx)  and (max-device-width: 768px)  and (orientation: portrait) 
{
	body {
    background-position: -700px 0px;
   }
}
